body {
    background-image: url("images/weather.png");
    background-repeat: repeat;
    background-position: center;
}

.jumbotron,
.card,
form {
    border: 3px outset #6c757d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-weight: bold;
}

#searchHeader {
    font-size: 25px;
}

.card {
    font-size: 20px;
}

.card {
    box-sizing: border-box;
    width: 18%;
    margin: 10px auto;
}

img,
i {
    max-width: 100%;
    height: auto;
}